In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('Customer-Churn-Records.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1,1,2,DIAMOND,464
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,3,DIAMOND,456
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,1,3,DIAMOND,377
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,5,GOLD,350
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,5,GOLD,425

In [5]:
data.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited', 'Complain',
       'Satisfaction Score', 'Card Type', 'Point Earned'],
      dtype='object')

In [ ]:
### 1.- Drop non-relevant columns 'RowNumber','CustomerId','Surname' and in addtion

In [ ]:
# also we are going to drop Complain because it is a redundant variable it matched almost the same with the target variable

In [7]:
corr_EC = data['Exited'].corr(data['Complain'])
corr_EC

0.9956925015718875

In [9]:
data[(data['Exited']==1) & (data['Complain']==0)].shape

(4, 18)

In [11]:
data[(data['Exited']==1) & (data['Complain']==1)].shape

(2034, 18)

In [37]:
data[(data['Exited']==0) & (data['Complain']==0)].shape

(7952, 18)

In [39]:
data[(data['Exited']==0) & (data['Complain']==1)].shape

(10, 18)

In [41]:
data[data['Exited'] == data['Complain']].shape

(9986, 18)

In [43]:
data.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited', 'Complain',
       'Satisfaction Score', 'Card Type', 'Point Earned'],
      dtype='object')

In [51]:
# Checkpoint 1
df = data.drop(['RowNumber', 'CustomerId', 'Surname','Complain'], axis = 1)

In [53]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Satisfaction Score,Card Type,Point Earned
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1,2,DIAMOND,464
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,3,DIAMOND,456
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,3,DIAMOND,377
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,5,GOLD,350
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,5,GOLD,425

In [55]:
df.shape

(10000, 14)

This dataset does not contain missing values, as confirmed during the EDA. The data types are correct, and any outliers, if present, will not be handled because they provide valuable information for the analysis, such as zero balances in clients' accounts.

In [57]:
# for educational purposes df will be safe as csv, using the method df.to_csv('output.csv',index= False)

df.to_csv('df.csv',index = False)